<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">-->
<!--<div class="container">-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
</script>
<script>
  $(document).ready(function(){
    $('#myTable').dataTable();
  });
</script>

<div id="table-wrapper">
  <div id="table-scroll">
    <table  class="blueTableActive">
      <thead>
      <tr>

        <td>
          <small> № </small>
        </td>

        <td *ngIf="role=='admin'">
          <small> Номер сделки </small>
        </td>

        <td>
          <small> Тариф </small>
        </td>

        <td>
          <small> Местоположение </small>
        </td>

        <td>
          <small> Статус бокса </small>
        </td>

        <td>
          <small> Статус сделки </small>
        </td>

        <td>
          <small> Дата сделки </small>
        </td>

        <td>
          <small> Расторжение сделки </small>
        </td>


      </tr>
      </thead>

      <tr *ngFor="let elem of deals; index as i  ">

        <td scope="row">
          <strong> {{i+1}} </strong>
        </td>

        <td  *ngIf="role=='admin'">
          <strong> {{elem.id}} </strong>
        </td>

        <td>
          <strong> {{elem.box.coefficient}} </strong>
        </td>

        <td>
          <strong> {{elem.box.col}} {{elem.box.row}} </strong>
        </td>

        <td>
          <strong *ngIf="elem.box.occupied"> занят </strong>
          <strong *ngIf="!elem.box.occupied"> пустой </strong>
        </td>

        <td>
          <strong *ngIf="(elem.status)"> активная </strong>
          <strong *ngIf="(!elem.status)"> расторгнутая </strong>
        </td>


        <td>
          <strong> {{elem.dateTime}} </strong>
        </td>

        <td>
          <strong *ngIf="(!elem.status)"> {{elem.end_dateTime}} </strong>
          <strong *ngIf="(elem.status)"></strong>
        </td>


      </tr>
    </table>
  </div>
</div>


<table class="inputForm">


  <thead>
  <tr>

    <td>
      <small>Выбрать</small>
    </td>

  </tr>
  </thead>

  <tr>
    <td>
      <div class="deal">
        <select class="form-control" name="company"
                [(ngModel)]="selected" #dataInput="ngModel">
          <option  *ngFor="let elem of mass" [value]="elem.id">
            {{elem.name}}
          </option>
        </select>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div  class="form-group">
        <button class="btn btn-default" (click)="selectData()">
          Выполнить
        </button>
      </div>
    </td>
  </tr>


  <tr *ngIf="(selected==2)">
    <td>
      <small>Выберите сделку</small>
    </td>
  </tr>

  <div *ngIf="role=='client'">
  <tr *ngIf="(selected==2)">
    <td>
      <div class="deal">
        <select class="form-control" name="company"
                [(ngModel)]="selectDis" #dataInput="ngModel">
          <option *ngFor="let elem of dealsActive" [value]="elem.id">
            <div *ngIf="elem.status">
             Место: {{elem.box.col}} {{elem.box.row}} Тариф: {{elem.box.coefficient}}
            </div>
          </option>
        </select>
      </div>
    </td>
  </tr>
  </div>
  <div *ngIf="role=='admin'">
    <tr *ngIf="(selected==2)">
      <td>
        <div class="deal">
          <select class="form-control" name="company"
                  [(ngModel)]="selectDis" #dataInput="ngModel">
            <option *ngFor="let elem of dealsActiveAll" [value]="elem.id">
              <!--<div *ngIf="elem.status">-->
              Место: {{elem.box.col}} {{elem.box.row}} Тариф: {{elem.box.coefficient}}
              <!--</div>-->
            </option>
          </select>
        </div>
      </td>
    </tr>
  </div>

  <tr *ngIf="(selected==1)">
    <td>
      <small>Выберите ID</small>
    </td>
  </tr>

  <tr *ngIf="(selected==1)">
    <td>
      <div class="deal">
        <select class="form-control" name="company"
                [(ngModel)]="selectBox" #dataInput="ngModel">
          <option *ngFor="let elem of dataBox" [value]="elem.id">
            Место: {{elem.col}} {{elem.row}}
          </option>
        </select>
      </div>
    </td>
  </tr>


</table>
